<fieldset> <legend>  Abschlusskanten  </legend>
    <div class="switchbox counter flx-btw" data-concerned="floor wall stairs">
        <span>
            <input id="chkEdged" type="checkbox" data-buddy="inpEdged">
            <label for="chkEdged">eckig</label>
        </span>   
        <span><input id="inpEdged" type="number" disabled>   m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkEdged2" type="checkbox" data-buddy="inpEdged2">
            <label for="chkEdged2">2. eckig</label>
        </span>   
        <span><input id="inpEdged2" type="number" disabled>   m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall stairs">
        <span>
            <input id="chkRound" type="checkbox" data-buddy="inpRound">
            <label for="chkRound">rund</label> 
        </span>  
        <span><input id="inpRound" type="number" disabled>   m</span>        
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall stairs">
        <span>
            <input id="chkQuadro" type="checkbox" data-buddy="inpQuadro">
            <label for="chkQuadro">quadro</label> 
        </span>  
        <span><input id="inpQuadro" type="number" disabled>   m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor">
        <span>
            <input id="chkWegde" type="checkbox" data-buddy="inpWegde">
            <label for="chkWegde">Keilschiene</label> 
        </span>  
        <span><input id="inpWegde" type="number" disabled>   m</span>        
    </div>

    <div class="switchbox counter flx-btw" data-concerned="wall">
        <span>
            <input id="chkAffixed" type="checkbox" data-buddy="inpAffixed">
            <label for="chkAffixed">SK Eckschiene</label>
        </span>   
        <span><input id="inpAffixed" type="number" disabled>   m</span>
    </div>
</fieldset>