<fieldset> <legend>  Dichtbänder  </legend>
    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkSimple" type="checkbox" data-buddy="inpSimple">
            <label for="chkSimple">einfach</label>
        </span>   
        <span><input id="inpSimple" type="number" disabled>    m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkGummed" type="checkbox" data-buddy="inpGummed">
            <label for="chkGummed">gummiert</label> 
        </span>  
        <span><input id="inpGummed" type="number" disabled>    m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkAdhesive" type="checkbox" data-buddy="inpAdhesive">
            <label for="chkAdhesive">Butylband</label> 
        </span>  
        <span><input id="inpAdhesive" type="number" disabled>    m</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkNooks" type="checkbox" data-buddy="inpNooks">
            <label for="chkNooks">Ecken</label> 
        </span>  
        <span><input id="inpNooks" type="number" disabled>  Stk</span>
    </div>

    <div class="switchbox counter flx-btw" data-concerned="floor wall">
        <span>
            <input id="chkSleeves" type="checkbox" data-buddy="inpSleeves">
            <label for="chkSleeves">Manschetten</label> 
        </span>  
        <span><input id="inpSleeves" type="number" disabled>  Stk</span>
    </div>
</fieldset>