:root {
    --shadow-inset: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(0,0,0,0.4);
    --shadow-raise: -6px -6px 9px #fff, 6px 6px 9px rgba(0,0,0,0.4);
    --shadow-click: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(0, 0, 0, 0.4);
    --shadow-display-text: -1px -1px 2px #fff, 2px 2px 2px rgba(0, 0, 0, 0.4);
    --shadow-grid: 1rem 1rem 1.25rem rgba(0, 0, 0, 0.15), -1rem -1rem 1.25rem #fffb;

    --button-grid-gap: 0.25rem; /* apple: 0*/
    --button-grid-margin: 5px;
    --button-size: 4rem;
    --button-border: none; /* apple: 1px solid rgb(0,0,0,0.2) */
    --button-border-radius: 50%;  
    --button-double-border-radius: 2rem;  
    --button-text: #333;
    --button-hover-color: #222;
    --button-equals-bg-color: #ecf0f3; /*#bfdcf5;*/
    --button-equals-text-color: rgb(0, 100, 0);
    --button-op-bg-color: #ecf0f3;
    --button-op-text-color: tomato;
    --button-mem-bg-color: #ecf0f3; /*#d8dfe4;*/
    --button-mem-text-color: #666;

    --display-bg-color: #ecf0f3;
    --display-text-color: #5166d6;
    --display-border-radius: 1.5rem;
    --grid-bg-color: #e9e9e9;
    --grid-border: none;
    --grid-border-width: 1.75rem;
    --parent-bg-color: rgba(0,0,0,0.2);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Verdana, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calculator-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* inset: 8rem 1rem 10rem 1rem; */
    /* inset: 0; */
    background-color: var(--parent-bg-color);
    border-radius: var(--grid-border-width);
}

/* styling the keyboard area */
.calculator-grid {
    display: grid;
    grid-template-rows: minmax(80px, auto) repeat(7, var(--button-size));
    grid-template-columns: repeat(5, var(--button-size));    
    grid-gap: var(--button-grid-gap);
    justify-content: center;
    align-content: center;
    width: calc(5 * var(--button-size) + 2 * var(--grid-border-width) - 1px);
    border: var(--grid-border);
    border-radius: var(--grid-border-width);
    padding: var(--grid-border-width) 0;
    background-color: var(--grid-bg-color);
    box-shadow: var(--shadow-grid);    
}

/* styling the buttons */
.calculator-grid button {    
    margin: var(--button-grid-margin);
    font-size: 1.35rem;
    font-weight: bold; 
    user-select: none;   
    outline: none;
    cursor: pointer;
    background-color: var(--display-bg-color);
    border: var(--button-border);    
    color: var(--button-text);    
    box-shadow: var(--shadow-raise);
    border-radius: var(--button-border-radius);
    transition: transform 125ms ease-in-out;
}

.calculator-grid button:hover,
.calculator-grid button:active {
    filter: brightness(0.85);
    color: var(--button-hover-color);
    transform: scale(1.05);
}

.calculator-grid button:active {
    box-shadow: var(--shadow-click);
}

.calculator-grid button.btn-memory {
    color: var(--button-mem-text-color);
    background-color: var(--button-mem-bg-color);
    font-size: 1rem;
}

.calculator-grid button.btn-special {
    background-color: var(--display-bg-color);  
}

.calculator-grid button.btn-operator {
    color: var(--button-op-text-color);
    background-color: var(--button-op-bg-color);
}

.calculator-grid button.btn-equals {
    color: var(--button-equals-text-color);
    background-color: var(--button-equals-bg-color);
    font-size: xx-large;
}

/* double-keys */
.span2 {
    grid-column: span 2;
    border-radius: var(--button-double-border-radius) !important;
}
.col-span2 {
    grid-row: span 2;
    border-radius: var(--button-double-border-radius) !important;
}

/* styling the output area */
.output {
    position: relative;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    grid-column: 1 / -1; /* creates rows in grid*/
    min-height: 5.125rem;
    background-color: var(--display-bg-color);    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;    
    text-shadow: var(--shadow-display-text);
    box-shadow: var(--shadow-inset);            
    border-radius: var(--display-border-radius);
}

.output .curr-operand-txt {
    color: var(--display-text-color);
    font-size: 1.75rem;
}

.output .prev-operand-txt, .output .mem-display {
    color: var(--display-text-color);
    font-size: 0.75rem;
}

.output .mem-display {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.75rem;
}