:root {
    --mem-button-bg-color: #555555;
    --op-button-bg-color: #5e534d; 
    --display-bg-color: #2d2828; /* #2a2a2a; */
}


/* styling the keyboard area */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: calc(100% - var(--navbar-height) - 0.3rem);
    grid-template-rows: minmax(80px, auto) repeat(7,64px);
    grid-template-columns: repeat(5, 4rem);
    border: 8px solid dimgray;
    border-radius: 8px;
}

/* styling the buttons */
.calculator-grid button {
    font-size: 1.5rem;
    font-weight: normal;    
    outline: none;
    border: 1px solid rgb(0,0,0,0.2);
    background-color: var(--display-bg-color); /* #141414 */
    color: whitesmoke;
    cursor: pointer;}

/* .calculator-grid button[data-number] {
    background: #737373;  
    background: -moz-linear-gradient(top, #737373, #0a0a0a 46%, #010101 50%, #080808 53%, #3c3c3c 76%, #2b2b2b 87%, #151515);  
    background: -webkit-linear-gradient(top, #737373,#0a0a0a 46%,#010101 50%,#080808 53%,#3c3c3c 76%,#2b2b2b 87%,#151515);  
    background: linear-gradient(to bottom, #737373,#0a0a0a 46%,#010101 50%,#080808 53%,#3c3c3c 76%,#2b2b2b 87%,#151515);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#151515', GradientType=0);  
} */
.calculator-grid button:hover {
    filter: brightness(1.5);
    color: white;
}

.calculator-grid button.btn-memory {
    background-color: var(--mem-button-bg-color);
    font-size: 1rem;
    /* background-image: linear-gradient(to bottom, #fff 0%, #bbb 50%, #111 50%); */
}

.calculator-grid button.btn-special {
    background-color: var(--display-bg-color);  
}

.calculator-grid button.btn-operator {
    background-color: var(--op-button-bg-color);
}

.calculator-grid button.btn-equals {
    background-color: chocolate;
}

/* double-keys */
.span2 {
    grid-column: span 2;
}
.col-span2 {
    grid-row: span 2;
}

/* styling the output area */
.output {
    position: relative;
    grid-column: 1 / -1; /* creates rows in grid*/
    min-height: 5.125rem;
    background-color: var(--display-bg-color);    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
}

.output .curr-operand-txt {
    color: whitesmoke;
    font-size: 1.75rem;
}

.output .prev-operand-txt, .output .mem-display {
    color: #bbb;
    font-size: 0.75rem;
}

.output .mem-display {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.75rem;
}