:root {
    --checkbox-size: 1.33rem;
    --label-width-desk: 12rem;
    --label-width-mobile: 8rem;
    --label-short: 4rem;
    --forms-bg-color: #f5f5f5;
    --theme-color: navy;
    --focus-color: #ffffc8;    
    --autocalc-bg-color: lightsteelblue; /*#4169E1 #94afff;*/
    --edit-top: 0; /* used in settings.js --> showTimeEditor()*/
}

/* formular style */
form {
    width: 75%;
    height: calc(100vh - var(--navbar-height) - 1.5rem);  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--forms-bg-color);
    padding: 1rem 1rem 0;    
}

form.frm-login {
    width: 40%;
    height: 16rem;
}

form.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

fieldset, .fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    border: none;
}

fieldset.desk {
    padding: 0 25%;
}

legend {
    margin-bottom: 0.75rem;
    padding: 1rem 0;
    font-weight: bolder;
    color: var(--theme-color);
    border-bottom: 1px solid;
    width: 100%;
}

button.desk {
    padding: 0.5rem;
    background-color: var(--theme-color);
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-bar button, 
.wiz-buttons button {
    min-width: 8.5rem;
    width: 10rem;
    border: none;
    outline: none;
}

.wiz-buttons #btnHome {
    width: 2rem;
    font-weight: bolder;
}

button.desk:hover, button.desk:focus {
    background-color: dodgerblue;
    color: var(--theme-color);
}

button.desk:focus {
    box-shadow: inset 0 0 0 2px;
}

input, textarea, select {
    padding: 0.25rem;
    outline: none;
    border: 1px solid silver;
    border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid green;
    background-color: var(--focus-color);
}

textarea {
    resize: vertical;
    max-width: 100%;
    min-height: 8rem;
    max-height: 8rem;
}

textarea[name="regie"] {
    max-height: 20rem;
}

textarea.txt-fixed {
    resize: none;
}

/***********************************/
/****      C O N T R O L S         */
/***********************************/
.control, .checkbox, .switchbox, .inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.control label:first-child {
    min-width: var(--label-width-desk);
}

.control label:nth-child(2), .switchbox label:nth-child(2) {
    min-width: calc(var(--label-width-desk) - var(--checkbox-size) - 0.5rem);
}

.control input, .switchbox > input:nth-child(3), select {
    flex: 1;
    min-width: 3.5rem;
}

.control input[type="date"]:not(#inpCurrentDate) {
    max-width: 10rem;
    text-align: center;
}

.control.edit-mode {
    background: lightgreen;
    border-bottom: 1.25rem solid lightgreen;
}

.control.edit-mode::before,
.control.edit-mode::after {
    content: '';
    background-color: lightgreen;
    height: 2.45rem;
    width: 1rem;
    position: absolute;
    top: var(--edit-top);
}

.control.edit-mode::before {
    left: 0;
}

.control.edit-mode::after {
    right: 0;    
}

label.edit-mode {
    color: green;
    font-weight: bold;
}

img.edit-mode {
    filter: grayscale(0) hue-rotate(220deg) !important;
}

input#inpCurrentDate {
    width: 12rem !important;
    font-size: 1.5rem;
    margin: 0 0.25rem;
    text-align: center;
}

.control input[type="time"] {
    max-width: 6rem;
}

.short {
    width: 50%;
}

.long {
    width: 100%;
}

#inpBVNr {
    flex: none;
    width: 5.25rem;
}

.input-error {
    background-color: lightsalmon !important;
    color: red;
    border: 1px solid red !important;
}

.sunday {
    color: red;
    /* background-color: lightsalmon; */
    font-weight: bold;
}

/* Dropdown container for worktime-settings */
#divDropEditWorktime {
    position: absolute;
    top: 0;
    left: 25%;
    transform: translateX(-16.75%);
    width: 75%;
    background: lightgreen;    
    padding: 1rem;    
    z-index: 101;
    /* transition: all 250ms;     */
}

/*#######################################*/
/*###          DROPDOWN-BOX           ###*/
/*#######################################*/
.dropdown select{
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 5.25rem;
}

.dropdown-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: var(--theme-color);
    height: 100%;
    width: 1.75rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    pointer-events: none;
}

/* Styling the dropdown-arrow */
/* for another arrow down add: .dropdown-arrow::after */
.dropdown-arrow::before {
    --arrow-size: 0.55rem;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-arrow::before {
    border-top: var(--arrow-size) solid whitesmoke;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
}

.dropdown:hover .dropdown-arrow {
    background-color: dodgerblue;
}

select[disabled]~ .dropdown-arrow {
    background-color: grey !important;
}

.counter input[type="number"], 
.switchbox input[type="number"]:nth-child(3) {
    /* max-width: 4.5rem; */
    max-width: 5.25rem;
    text-align: center;
}

.counter .dropdown {
    flex: 0.33;
}

.switchbox select:last-child {
     min-width: 100%;
}

input[disabled] {
    background-color: #ddd;
    border: 1px solid #888;
}

/*##################################*/
/*###          CHECKBOX          ###*/
/*##################################*/
.checkbox {
    padding: 0.25rem 0;
}

.checkbox input[type="checkbox"], input[type="radio"], .switchbox input[type="checkbox"] {
    min-height: var(--checkbox-size);
    width: var(--checkbox-size);
    accent-color: var(--theme-color);
    margin-right: 0.5rem;
}

/* .checkbox input[type="checkbox"][disabled] {
    accent-color: red !important;
    filter: grayscale(0);
} */


.checkbox span, .switchbox span {
    display: flex;
    align-items: center;
}

/*###################################*/
/*###          BUTTONBAR          ###*/
/*###################################*/
.button-bar, .wiz-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin: 1rem 1rem 1rem 0; */
    padding: 0 1rem;
}

.wizard-bar {
    position: absolute;
    bottom: 0.75rem;
    width: 72%;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}

.btn-spin {
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

.signature {
    background-color: var(--focus-color);
    border: 1px solid silver;
    border-radius: 6px;
    width: 100%;
    height: 16rem;
}

.computed[disabled] {
    background-color: var(--autocalc-bg-color);
    color: var(--theme-color);
    border: 1px solid navy;
    font-weight: bold;
    filter: grayscale(0);
}

.computed[disabled].info {
    padding-right: 1rem;
    text-align: right;
    width: 10.5rem;
}

.lbl-info {
    font-weight: bold;
}

.icon-small {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

/*#######################################*/
/*###           RESULT-TABLE          ###*/
/*#######################################*/

.result {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.result .table-wrapper table {
    table-layout: fixed;
    width: 100%;
    max-width: 100vh;
    padding: 4rem 0.25rem;
    font-weight: bold;    
    background-color: #4169E1; /* var(--autocalc-bg-color); */    
    border: 4px double whitesmoke;
    border-radius: 8px;
}

.result .table-wrapper table td {
    font-size: 1.25rem;
    color: whitesmoke;
    overflow:hidden;
    white-space:nowrap;
}

.cell-result {
    text-align: right;
    padding-right: 0.5rem;
}

.table-wrapper {
    position: relative;
}

.table-wrapper>img {
    position: absolute;
    top: 4px;
    right: 4px;
}

.wizard-button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.wizard-button:hover {
    filter: brightness(1.2);
}

.wizard-button[disabled], button[disabled] {
    filter: contrast(0.15) grayscale(1);
}

/* Reset button in settings */
.wizard-button#btnResetSettings {
    position: absolute;
    right: 1rem;
    top: 5.5rem;
}

button[disabled]:hover {
    color: #999;
    background-color: dodgerblue;
    filter: grayscale(1);
}


/* ########################################################################################## */
/* ####                               R E S P O N S I V E                                 ### */
/* ########################################################################################## */
@media (max-width: 850px) {
    form {
        width: 100%;
    }

    #divDropEditWorktime {
        left: 0;
        transform: none;
        width: 100vw;
    }

    .control {
        flex-direction: column;
        align-items: flex-start;
    }

    .control [data-control="date"], 
        [data-control="time"], 
        [data-control="counter"], 
        [data-control="dropbox"], .inline {
            flex-direction: row;
            align-items: center;
    }

    .control [data-control="dropbox"] {
        justify-content: space-between;
    }

    .control input[type="text"], input[type="email"], select {
        width: 100%;
        max-width: unset;
    }

    .button-bar {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .wizard-bar {
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid navy;
    }
}

@media (max-width: 480px) {
    form {
        min-height: calc(100vh - var(--navbar-height) - 0.85rem);
        height: unset;
    }

    .control [data-control="date"], 
        [data-control="time"], 
        [data-control="counter"],
        [data-control="dropbox"] {
            flex-direction: column;
            align-items: flex-start;
    }

    .control .counter label:first-child {
        min-width: calc(var(--label-width-mobile) - var(--checkbox-size));
    }

    .control label:first-child:not([for="selTrowel"]) {
        min-width: unset;
    }

    .dropdown {
        /* min-width: 100%; */
        width: 100%;
    }

    .counter .dropdown {
        min-width: unset !important;
        flex: 0.75;
    }

    label.lbl-short {
        min-width: calc(var(--label-short) - var(--checkbox-size)) !important;
    }

    .switchbox label.lbl-short {
        min-width: var(--label-short) !important;
    }

    .inline {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}