/* formular style */
.forms {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 66%;
}

fieldset {
    margin: 0.75rem;
    border-radius: 8px;
}

button {
    width: 10rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: navy;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: dodgerblue;
    color: navy;
}

input, select {
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid silver;
    outline: none;
    font-size: 1.2rem;
}

select {
    max-width: 10rem;
    text-align: center;

    appearance: none;
    box-shadow: none;
    width: 100%;
    cursor: pointer;
}

/* styling the down-arrow */
.select {
    position: relative;
}
.select::after {
    content: '\25bc';
    /* \25bc oder \2228 */
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(2rem - 10px);
    background-color: navy;
    color: whitesmoke;
    padding: 6px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    pointer-events: none;
    /* filter: brightness(1); */
}

.select:hover::after {
    /* filter: brightness(1.25); */
    background-color: dodgerblue;
}

option { 
    font-size: 1rem;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid green;
    background-color: #adf9ad;
}

textarea {
    resize: both;
    font-size: 1.2rem;
    min-height: 6rem;
    max-height: 12rem;
    max-width: 100vmin;
    min-width: 66vmin;
}

#lblHours {
    font-size: 1.33rem;
    font-weight: bold;
    color: green;
}

#h3Result {
    margin: 0;
    color: navy;
}

.control {
    display: flex;   
    flex-direction: row; 
    align-items: center;        
    padding: 0.5rem 0;
}

.control > label:first-child {
    min-width: 21rem;
}

.control > input[type="text"],[type="email"] {
    min-width: 45% !important;
    width: 20rem;
}

.control > input[type="date"],[type="number"] {
    width: 10rem;            
}

.inline {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
}

.inline label {width: auto;}
.inline label.short {
    min-width: unset;
    width: 7.25rem !important;
}

.counter input {
    width: 6.66rem;
    text-align: center;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

.checkbox input[type="checkbox"],[type="radio"] {
    width: 1.33rem !important;       
    height: 1.33rem !important;     
    accent-color: navy;
}

.frm-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    margin: 0.5rem 0.75rem 1rem;
    border: 2px solid gray;
    border-radius: 8px;
}

.spinner-button {
    width: 2.25rem;
}

/* ########################################################################################## */
/* ####                               R E S P O N S I V E                                 ### */
/* ########################################################################################## */
@media (max-width: 1080px) {
    .control > label:first-child {
        display: block;
        min-width: 12rem;
    }
}

@media (max-width: 850px) {
    .control {
        flex-direction: column;
        align-items: flex-start;
    }

    .control > input[type=text],[type=email] {
        min-width: 100%;
        width: 20rem;
    }

    textarea {
        resize: vertical;
        max-width: 64vmin;
    }

    button {
        width: 8rem;
    }
}


@media (max-width: 580px) {
    .forms {
        width: 100%;
    }

    .control > label:first-child {
        min-width: 11rem;
    }

    .control > input[type=text],[type=email] {        
        min-width: 100%;
        width: 20rem;
    }

    .counter {
        display: flex;
        flex-direction: column;
    }

    .counter label {
        width: auto;
    }

    textarea {
        resize: vertical;
        max-height: 12rem;
        max-width: 85vmin;
    }

    button {
        width: auto;
        padding: 0.5rem 1rem;
    }
}