<fieldset> <legend id="lgdCurrentDay">  Tagesdaten  </legend>
    <br>
    <div class="control inline">
        <img id="btnNextDay" src="./img/dayminus.png" class="wizard-button" alt="-1">
        <input id="inpCurrentDate" type="date">
        <img id="btnNextDay" src="./img/dayplus.png" class="wizard-button" alt="1">
    </div>
    <br>
    <div class="control inline flx-btw" data-control="dropbox">
        <div class="dropdown">
            <select name="daytype" id="selDayType">
                <option selected>Werktag</option>
                <option >Urlaubstag</option>
                <option >Krank</option>
                <option >Unbezahlter freier Tag</option>
                <option disabled>Feiertag</option>
                <option disabled>Sonntag</option>
            </select>
            <span class="dropdown-arrow"></span>
        </div>
    </div>

    <div class="flx-col">
        <br>
        <div class="control counter inline flx-btw">
            <label for="inpSitesToday"><strong>Baustellen heute:</strong></label>
            <span><input id="inpSitesToday" class="computed" type="number" name="itesToday" value="0" disabled></span>                
        </div>

        <div class="control counter inline flx-btw">
            <label for="inpHoursToday"><strong>Stunden heute:</strong></label>
            <span><input id="inpHoursToday" class="computed" type="number" name="hoursToday" value="0.00" disabled></span>                
        </div>
    </div>    
</fieldset>

<fieldset> <legend></legend>
    <div class="control counter inline flx-btw">
        <label id="lblHoursWeek" class="lbl-info" for="inpHoursWeek"><strong>Stunden KW :</strong></label>
        <span><input id="inpHoursWeek" class="computed info" type="text" name="hoursWeek" value="0,00 / 41,00" disabled></span>                
    </div>

    <div class="control counter inline flx-btw">
        <label id="lblHoursMonth" class="lbl-info" for="inpHoursMonth"><strong>Stunden Monat :</strong></label>
        <span><input id="inpHoursMonth" class="computed info" type="text" name="hoursMonth" value="0,00 / 170,00" disabled></span>                
    </div>
</fieldset>