<fieldset> <legend>  Ausgeführte Arbeiten  </legend>
    <div class="control" data-control="dropbox">
        <label for="selWorkCategory">Arbeitskategorie</label>
        <div class="dropdown">
            <select name="category" id="selWorkCategory" data-popup="divDoneWork"></select>
            <span class="dropdown-arrow"></span>
        </div>
    </div>

    <div class="control" id="divDoneWork" data-control="dropbox" hidden>
        <div class="checkbox" style="margin-bottom: 0.75rem;">
            <input id="chkMultipleWork" type="checkbox" style="min-width: auto;">
            <label for="chkMultipleWork">Mehrfachauswahl zulassen</label>                
        </div>
        <label for="selDoneWork">Ausgeführte Arbeiten</label>
        <div class="dropdown">
            <select name="donework" id="selDoneWork"></select>
            <span class="dropdown-arrow"></span>
        </div>
    </div>

    <textarea name="otherwork" id="txtOtherWork" cols="35" rows="5" 
        placeholder="sonstige, nicht aufgeführte Arbeiten..." value ="" hidden>
    </textarea>
</fieldset>