<fieldset class="fldDriveBox"> <legend>  Fahr-Daten...  </legend>
    <div class="control counter inline flx-btw">
        <label for="inpFahrzeit" class="short">Fahrzeit</label>
        <span><input id="inpFahrzeit" type="number">  min</span> 
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpKilometer" class="short">Kilometer</label>
        <span><input id="inpKilometer" type="number">   km</span> 
    </div>

    <div class="control">
        <label for="inpStart">Abfahrt von</label>
        <input id="inpStart" type="text">
    </div>
    <div class="control">
        <label for="inpZiel">Zielort</label>
        <input id="inpZiel" type="text">
    </div>
</fieldset>