<fieldset> <legend>  Spesen  </legend>
    <div class="switchbox counter flx-btw" data-concerned="floor stairs">
        <span>
            <input id="chkExpenses" type="checkbox" data-buddy="inpExpenses">
            <label for="chkExpenses">Verpflegung</label>
        </span>   
        <span><input id="inpExpenses" type="number" disabled>   CHF</span>
    </div>
    <div class="switchbox counter flx-btw" data-concerned="floor stairs">                    
        <span>
            <input id="chkOtherExpenses" type="checkbox" data-buddy="inpOtherExpenses inpOtherExpensesDescr">
            <label for="chkOtherExpenses">sonstige Spesen</label>
        </span>   
        <span><input id="inpOtherExpenses" type="number" disabled>   CHF</span>                    
    </div>
    <div class="control">
        <input id="inpOtherExpensesDescr" type="text" disabled>
    </div>                              
</fieldset>