<fieldset> <legend>  Taschenrechner  </legend>
    <div class="flx-btw">
        <div class="flx-col preview-options">
            <div class="checkbox">
                <input id="radCalculatorApple" type="radio" value="calculator_apple.css" name="calculatorStyle">
                <label for="radCalculatorApple">Apple-Style</label>                
            </div>

            <div class="checkbox">
                <input id="radCalculatorBlk" type="radio" value="calculator_blk.css" name="calculatorStyle">
                <label for="radCalculatorBlk">Dark mode</label>                
            </div>
            
            <div class="checkbox">
                <input id="radCalculatorWht" type="radio" value="calculator_wht.css" name="calculatorStyle">
                <label for="radCalculatorWht">Iten-Look</label>                
            </div>
        </div>

        <div class="preview-icon">
            <img src="./img/calculator_blk.jpg" id="imgCalcPreview">
        </div>        
    </div>
    <hr>
    <div class="checkbox">
        <input id="chkShowCalcIcon" type="checkbox" name="showCalculatorIcon">
        <label for="chkShowCalcIcon">Rechner bei numerischen Eingaben erlauben</label>                
    </div>
</fieldset>