<fieldset> <legend>  Defaultwerte  </legend>
    <label><strong>Standard-Plattenmaße für Berechnungen</strong></label>
    <div class="control counter inline flx-btw">
        <label for="inpDefaultLength">Plattenlänge</label>
        <span><input id="inpDefaultLength" type="number" name="defaultlength" pattern="[0-9]{3,5}">   mm</span>        
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpDefaultWidth">Plattenbreite</label>
        <span><input id="inpDefaultWidth" type="number" name="defaultwidth" pattern="[0-9]{3,5}">   mm</span>        
    </div>
</fieldset>