<fieldset> <legend>  Icons auf dem Homescreen  </legend>
    <div class="checkbox">
        <img src="./img/clock512.png" class="icon-small">
        <input id="chkHomeHours" type="checkbox" name="homescreen" value="clock512.png|hours.html|Stundenerfassung" checked>
        <label for="chkHomeHours">Stundenerfassung</label> 
                       
    </div> 

    <div class="checkbox">
        <img src="./img/settings512.png" class="icon-small">
        <input id="chkHomeSettings" type="checkbox" name="homescreen" value="settings512.png|settings.html|Einstellungen" checked>
        <label for="chkHomeSettings">Einstellungen</label>                 
    </div>    
    
    <div class="checkbox">
        <img src="./img/calculator512.png" class="icon-small">
        <input id="chkHomeCalculator" type="checkbox" name="homescreen" value="calculator512.png|calculator.html|Taschenrechner" checked>
        <label for="chkHomeCalculator">Taschenrechner</label>                
    </div> 

    <div class="checkbox">
        <img  src="./img/tiles512.png" class="icon-small">
        <input id="chkHomeMaterialCalc" type="checkbox" name="homescreen" value="tiles512.png|tools.html?material|Materialrechner" checked>
        <label for="chkHomeMaterialCalc">Materialrechner</label>                
    </div>

    <div class="checkbox">
        <img src="./img/ruler512.png" class="icon-small">
        <input id="chkHomeSurvey" type="checkbox" name="homescreen" value="ruler512.png|tools.html?measure|Ausmass">
        <label for="chkHomeSurvey">Ausmass</label>                
    </div>

    <div class="checkbox">
        <img src="./img/report512.png" class="icon-small">
        <input id="chkHomeCommReport" type="checkbox" name="homescreen" value="report512.png|report.html?ordered|Regierapport">
        <label for="chkHomeCommReport">Regierapport</label>                
    </div>
</fieldset>