<fieldset> <legend>  Icons auf dem Homescreen  </legend>
    <div class="checkbox flx-btw">
        <span>
            <img src="./img/clock.png" class="icon-small">
            <label for="chkHomeHours">Stundenerfassung</label>  
        </span>
        <input id="chkHomeHours" type="checkbox" name="homescreen" value="clock.png|hours.html|Stundenerfassung" checked> 
    </div> 

    <div class="checkbox flx-btw">
        <span>
            <img src="./img/report2.png" class="icon-small">
            <label for="chkHomeCommReport">Regierapport</label>            
        </span>
        <input id="chkHomeCommReport" type="checkbox" name="homescreen" value="report2.png|report.html?ordered|Regierapport">                
    </div>

    <div class="checkbox flx-btw">
        <span>
            <img  src="./img/tiles.png" class="icon-small">
            <label for="chkHomeMaterialCalc">Materialrechner</label>            
        </span>
        <input id="chkHomeMaterialCalc" type="checkbox" name="homescreen" value="tiles.png|tools.html?material|Materialrechner" checked>            
    </div>
    
    <div class="checkbox flx-btw">
        <span>
            <img src="./img/calculator.png" class="icon-small">
            <label for="chkHomeCalculator">Taschenrechner</label>            
        </span>
        <input id="chkHomeCalculator" type="checkbox" name="homescreen" value="calculator.png|calculator.html|Taschenrechner" checked>                
    </div> 

    <div class="checkbox flx-btw">
        <span>
            <img src="./img/ruler.png" class="icon-small">
            <label for="chkHomeSurvey">Ausmass</label>            
        </span>
        <input id="chkHomeSurvey" type="checkbox" name="homescreen" value="ruler.png|tools.html?measure|Ausmass">                
    </div>

    <div class="checkbox flx-btw">
        <span>
            <img src="./img/settings.png" class="icon-small">
            <label for="chkHomeSettings">Einstellungen</label>            
        </span>
        <input id="chkHomeSettings" type="checkbox" name="homescreen" value="settings.png|settings.html|Einstellungen" checked>               
    </div>    

    <div class="checkbox flx-btw">
        <span>
            <img src="./img/tube.png" class="icon-small">
            <label for="chkHomeExam">CM-Messung</label>            
        </span>
        <input id="chkHomeExam" type="checkbox" name="homescreen" value="tube.png|report.html?exam|CM Messung">                
    </div>

    <div class="checkbox flx-btw">
        <span>
            <img src="./img/cart.png" class="icon-small">
            <label for="chkHomeOrder">Bestellung</label>            
        </span>
        <input id="chkHomeOrder" type="checkbox" name="homescreen" value="cart.png|report.html?order|Bestellung">                
    </div>
</fieldset>