<fieldset> <legend>  Stundenerfassung  </legend>
    <div class="checkbox" title="wenn Formular leer ist">
        <input id="chkUsePreviousDayData" type="checkbox" name="copyPreviousDay">
        <label for="chkUsePreviousDayData">Daten vom Vortag übernehmen</label>                
    </div> 

    <div class="checkbox">
        <input id="chkShowDriveBox" type="checkbox" name="showDriveBox">
        <label for="chkShowDriveBox">Box für Fahrdaten anzeigen</label>                
    </div> 

    <div class="checkbox" title="zeigt die eindeutige Baustellen-ID an">
        <input id="chkShowSiteID" type="checkbox" name="showSiteID">
        <label for="chkShowSiteID">Baustellen-Nummer anzeigen</label>                
    </div> 

    <div class="control counter flx-btw">
        <label for="inpMaxSitesPerDay">Baustellen pro Tag</label>
        <span><input id="inpMaxSitesPerDay" type="number" name="maxSitesPerDay" min="1">   max</span> 
    </div>

    <div class="control counter flx-btw">
        <label for="inpSitesActiveFor">Baustellen aktiv für</label>
        <span><input id="inpSitesActiveFor" type="number" name="sitesActiveFor" max="12">  Mon</span>
    </div>
    
    <div class="switchbox counter flx-btw">
        <span>
            <input id="chkValidateHours" type="checkbox" name="validateHours" data-buddy="inpValidateHours">
            <label for="chkValidateHours">Plausibilitätsprüfung ab</label>                        
        </span>
        <span><input id="inpValidateHours" type="number" name="alertHours" max="12" step="0.50" value="12.00">    Std</span>                    
    </div>
</fieldset>