<fieldset> <legend>  Materialrechner  </legend>
    <label><strong>Standard-Plattenmaße für Berechnungen</strong></label>
    <div class="control counter inline flx-btw">
        <label for="inpDefaultLength">Plattenlänge</label>
        <span><input id="inpDefaultLength" type="number" name="defaultlength" pattern="[0-9]{3,5}">   mm</span>        
    </div>

    <div class="control counter inline flx-btw">
        <label for="inpDefaultWidth">Plattenbreite</label>
        <span><input id="inpDefaultWidth" type="number" name="defaultwidth" pattern="[0-9]{3,5}">   mm</span>        
    </div>

    <div class="control counter inline flx-btw">
        <label for="inpOffcut">Verschnitt</label>
        <span><input id="inpOffcut" type="number" name="offcut" value="3">  %    </span>        
    </div>
    <hr>
    <label><strong>Fugenmaterial</strong></label>
    <div class="control counter inline flx-btw">
        <label for="inpJointWidth">Fugenbreite</label>
        <span><input id="inpJointWidth" type="number" name="jointWidth" value="3">   mm</span>        
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpJointDepth">Fugentiefe</label>
        <span><input id="inpJointDepth" type="number" name="jointDepth" value="10">   mm</span>        
    </div>
</fieldset>