<fieldset > <legend>  Persönliche Daten  </legend>
    <div class="control">
        <label for="inpSurname">Name</label>
        <input id="inpSurname" name="surname" type="text">
    </div>

    <div class="control">
        <label for="inpFirstName">Vorname</label>
        <input id="inpFirstName" name="firstname" type="text">
    </div>

    <div class="control">
        <label for="inpLocation">Wohnort</label>
        <input id="inpLocation" name="location" type="text">
    </div>

    <div class="control">
        <label for="inpBirthday">Geburtstag</label>
        <input id="inpBirthday" name="birthday" type="date">
    </div>

    <div class="control">
        <label for="inpMail">Email</label>
        <input id="inpMail" name="email" type="email">
    </div>           
    
    Angestellt als...
</fieldset>