<fieldset > <legend>  Persönliche Daten  </legend>
    <div class="control">
        <label for="inpSurname">Name</label>
        <input id="inpSurname" name="surname" type="text" required>
    </div>

    <div class="control">
        <label for="inpFirstName">Vorname</label>
        <input id="inpFirstName" name="firstname" type="text" required>
    </div>

    <div class="control">
        <label for="inpLocation">Wohnort</label>
        <input id="inpLocation" name="location" type="text" required>
    </div>

    <div class="control">
        <label for="inpBirthday">Geburtstag</label>
        <input id="inpBirthday" name="birthday" type="date">
    </div>

    <div class="control">
        <label for="inpMail">Email</label>
        <input id="inpMail" name="email" type="email" required>
    </div>      
    
    <div class="control" data-control="dropbox">
        <label for="selProfession">Angestellt als...</label>
        <div class="dropdown">
            <select name="employeetype" id="selProfession" required></select>            
            <span class="dropdown-arrow"></span>
        </div>
    </div>

    <img id="btnResetSettings" class="wizard-button" src="./img/refresh.png" alt="reset"> 
</fieldset>