<fieldset> <legend>  Arbeitszeiten  </legend>
    <div class="flx-evn">
        <div class="checkbox">
            <input id="radSummerTime" type="radio" name="season" value="summer" checked>
            <label for="radSummerTime">Sommerzeit</label>                
        </div>

        <div class="checkbox">
            <input id="radWinterTime" type="radio" name="season" value="winter">
            <label for="radWinterTime">Winterzeit</label>                
        </div>                
    </div> <hr>

    <fieldset id="fldWeekdays">
        <!-- Input fields are going to be rendered here... -->
    </fieldset>
    <hr>

    <div class="control counter inline flx-btw">
        <label for="inpHoursWeekly">Wochenstunden</label>
        <span><input id="inpHoursWeekly" class="computed" type="number" name="weeklyhours" disabled>  Std</span>                
    </div>
    <hr> 

    <fieldset id="divDropEditWorktime" hidden>
        <div class="control inline flx-btw">
            <label for="inpStartWork">Arbeitsbeginn</label>
            <span><input id="inpStartWork" type="time" data-autocalc="">   Uhr</span>
        </div>
    
        <div class="control inline flx-btw">
            <label for="inpEndWork">Feierabend</label>
            <span><input id="inpEndWork" type="time" data-autocalc="">   Uhr</span>                
        </div>
    
        <div class="control counter inline flx-btw">
            <label for="inpBreakfast">Frühstückspause (Z'nüni)</label>
            <span><input id="inpBreakfast" type="number" data-autocalc="">   min</span>
        </div>
    
        <div class="control counter inline flx-btw">
            <label for="inpLunch">Mittagspause</label>
            <span><input id="inpLunch" type="number" data-autocalc="">   min</span>
        </div>

        <input id="inpCache" type="text" data-autocalc="" hidden>
        <br> <hr>
        <div class="flx-btw">
            <img id="imgCancelEditor" src="./img/delete.png" class="wizard-button">
            <img id="imgApplyChanges" src="./img/check.png" class="wizard-button">
        </div>
    </fieldset>
</fieldset>