<fieldset> <legend>  Fläche / Kleber  </legend>
    <div class="control counter inline flx-btw">
        <label for="inpLength">Länge</label>
        <span><input id="inpLength" type="number" data-autocalc="inpArea" pattern="[0-9]{3,5}">   mm</span>        
    </div>

    <div class="control counter inline flx-btw">
        <label for="inpWidth">Breite</label>
        <span><input id="inpWidth" type="number" data-autocalc="inpArea" pattern="[0-9]{3,5}">   mm</span>        
    </div>

    <div class="switchbox counter  flx-btw">
        <span>
            <input id="chkArea" type="checkbox" data-buddy="inpArea">
            <label for="inpArea"><strong>Fläche</strong></label>
        </span>
        <span><input id="inpArea" class="computed" type="number" maxlength="7" required disabled>    <strong>m²</strong></span>
    </div>

    <div class="control counter inline flx-btw" data-control="dropbox">
        <label for="selTrowel">Zahnung (mm)</label>
        <div class="dropdown">
            <select name="trowel" id="selTrowel">
                <option value="1">2</option>
                <option value="1.25">3</option>
                <option value="1.5">4</option>
                <option value="1.75">6</option>
                <option value="2.75">8</option>
                <option value="3.5" selected>10</option>
                <option value="3.75">12</option>
                <option value="4.75">15</option>
                <option value="6.75">Mittelbett 20</option>
            </select>
            <span class="dropdown-arrow"></span>
        </div>
    </div>

    <div class="checkbox" title="markieren, wenn Platten mit Kontaktschicht verlegt werden">
        <input id="chkContact" type="checkbox">
        <label for="chkContact">Kontaktschicht</label>                
    </div>
</fieldset>

<fieldset> <legend>  Platten / Fugen  </legend>
    <div class="control counter inline flx-btw">
        <label for="inpTileLenght">Plattenlänge</label>
        <span><input id="inpTileLenght" type="number" value="600">   mm</span>        
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpTileWidth">Plattenbreite</label>
        <span><input id="inpTileWidth" type="number" value="300">   mm</span>        
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpWaste">Verschnitt</label>
        <span><input id="inpWaste" type="number" value="3">  %    </span>        
    </div> <hr>
    <div class="control counter inline flx-btw">
        <label for="inpJointWidth">Fugenbreite</label>
        <span><input id="inpJointWidth" type="number" value="3">   mm</span>        
    </div>
    <div class="control counter inline flx-btw">
        <label for="inpJointDepth">Fugentiefe</label>
        <span><input id="inpJointDepth" type="number" value="10">   mm</span>        
    </div>
    <div class="checkbox" title="markieren, wenn Platten diagonal verlegt werden">
        <input id="chkDiagonal" type="checkbox">
        <label for="chkDiagonal">Verlegung diagonal</label>                
    </div> 
</fieldset>

<div class="button-bar">
    <img id="btnReset" class="icon-button" src="./img/refresh512.png" alt="refresh">
    <img id="btnCalculate" class="icon-button" src="./img/send512.png" alt="send" disabled>
</div>

<div class="result hidden" id="divResult">    
    <div class="table-wrapper">
        <img id="btnCloseResult" class="icon-button" src="./img/close512.png">
        <table>                    
            <tr></tr>
                <td>Kleber</td>
                <td id="cellGlue" class="cell-result"></td>
                <td>kg</td>
                <td id="cellBags" class="cell-result"></td>
            <tr></tr>
                <td>Fugenmasse</td>
                <td id="cellJoints" class="cell-result"></td>
                <td>kg</td>
                <td></td>
            <tr></tr>
                <td>Platten</td>
                <td id="cellTiles" class="cell-result"></td>
                <td>Stk.</td>
                <td></td>     
        </table>
    </div>
</div>