<div class="firma">
    <img src="/img/logo.jpg" alt="Logo" height="48px">
</div>

<h1 id="menu-title">Home</h1>

<!-- Hamburger Menu -->
<a href="#" class="menuHH">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>

<nav class="navbar">
    <div class="navbar-links">
        <ul>
            <li><a href="index.html">Home</a> </li>
            <li><a href="hours.html">Stunden</a> </li>
            <li><a href="report.html">Rapport</a> </li>
            <li><a href="tools.html">Tools</a> </li>
            <li><a href="settings.html">Einstellungen</a> </li>
        </ul>
    </div>
</nav>

<!--            NAVNAR          -->

<!-- <nav>
    <div class="logo">
        <a href="index.html"><img src="./img/logo.png" alt="logo"></a>
    </div>
    
    <h3 class="title">Home</h3>

    <input type="checkbox" id="mnuHH">
    <label for="mnuHH" class="mnuMobile">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul>
        <li><a href="#">Stunden</a></li>

        <li class="expandable_li">
            <input type="radio" id="optRapport" name="optDropdown">
            <label for="optRapport">Rapport</label>
            <ul class="dropdown">
                <li><a href="#">Wochenrapport</a></li>
                <li><a href="#">Regierapport</a></li>
                <li><a href="#">Baustellenrapport</a></li>
            </ul>
        </li>

        <li class="expandable_li">
            <input type="radio" id="optTools" name="optDropdown">
            <label for="optTools">Tools</label>
            <ul class="dropdown">
                <li><a href="#">Materialrechner</a></li>
                <li><a href="#">Ausmass</a></li>
                <li><a href="#">Taschenrechner</a></li>
            </ul>
        </li>

        <li><a href="#">Einstellungen</a></li>
    </ul>
</nav> -->