<div class="logo">
    <a href="index.html"><img src="./img/logo.png" alt="logo"></a>
</div>

<h3 id="h3Title" class="title">Home</h3>
<nav>
    <!-- Hamburger Menu -->
    <input type="checkbox" id="mnuHH">
    <label for="mnuHH" class="mnuMobile">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul class="dropdown-root">
        <li class="desk_li"><a href="admin.html">Administrator</a></li>

        <li><img src="./img/clock.png"><a href="hours.html">Stunden erfassen</a></li>

        <li class="expandable_li">
            <input type="radio" id="optSite" name="optDropdown">            
            <label for="optSite"><img src="./img/construction100.png">Baustellen</label>
            <ul class="dropdown-mnu">
                <li class="desk_li"><a href="site.html?new">Neu...</a></li>
                <li class="desk_li"><a href="site.html?edit">Bearbeiten</a></li>
                <li><img src="./img/info.png"><a href="site.html?info">Info</a></li>
                <li><img src="./img/search.png"><a href="site.html?search">Suchen...</a></li>
                <li class="desk_li"><a href="site.html?print">Liste drucken</a></li>
            </ul>
        </li>

        <li class="expandable_li">
            <input type="radio" id="optRapport" name="optDropdown">            
            <label for="optRapport"><img src="./img/report.png">Rapporte</label>
            <ul class="dropdown-mnu">
                <li><img src="./img/calendar.png"><a href="report.html?weekly">Wochenrapport</a></li>
                <li><img src="./img/plane.png"><a href="report.html?vacation">Urlaub</a></li>
                <li><img src="./img/report2.png"><a href="report.html?comission">Regierapport</a></li>
                <li><img src="./img/construction100.png"><a href="report.html?site">Baustellenrapport</a></li>
                <li><img src="./img/ruler.png"><a href="report.html?survey">Ausmass</a></li>
                <li><img src="./img/tube.png"><a href="report.html?exam">CM-Messung</a></li>
            </ul>
        </li>
        <li class="expandable_li">
            <input type="radio" id="optTools" name="optDropdown">
            <label for="optTools"><img src="./img/tools.png">Tools</label>
            <ul class="dropdown-mnu">
                <li><img src="./img/tiles.png"><a href="tools.html?material">Materialrechner</a></li>               
                <li><img src="./img/cart.png"><a href="tools.html?order">Bestellung...</a></li>
                <li><img src="./img/calculator.png"><a href="calculator.html">Taschenrechner</a></li>
            </ul>
        </li>
        <li><img src="./img/settings.png"><a href="settings.html">Einstellungen</a></li>
    </ul>
</nav>