<div class="firma">
    <img src="/img/logo.jpg" alt="Logo" height="48px">
</div>

<h1 id="menu-title">Home</h1>

<!-- Hamburger Menu -->
<a href="#" class="menuHH">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>

<nav class="navbar">
    <div class="navbar-links">
        <ul>
            <li><a href="index.html">Home</a> </li>
            <li><a href="hours.html">Stunden</a> </li>
            <li><a href="report.html">Rapport</a> </li>
            <li><a href="tools.html">Tools</a> </li>
            <li><a href="settings.html">Einstellungen</a> </li>
        </ul>
    </div>
</nav>