<div class="logo">
    <a href="index.html"><img src="./img/logo.png" alt="logo"></a>
</div>

<h3 class="title">Home</h3>
<nav>
    <!-- Hamburger Menu -->
    <input type="checkbox" id="mnuHH">
    <label for="mnuHH" class="mnuMobile">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul class="dropdown-root">
        <li class="desk_li"><a href="admin.html">Administrator</a></li>
        <li><img src="./img/clock512.png"><a href="hours.html">Stunden erfassen</a></li>
        <li class="expandable_li">
            <!-- <img src="./img/report512.png"> -->
            <input type="radio" id="optRapport" name="optDropdown">            
            <label for="optRapport"><img src="./img/report512.png">Rapporte</label>
            <ul class="dropdown-mnu">
                <li><img src="./img/calendar512.png"><a href="report.html?weekly">Wochenrapport</a></li>
                <li><img src="./img/report512.png"><a href="report.html?ordered">Regierapport</a></li>
                <li><img src="./img/construction100.png"><a href="report.html?site">Baustellenrapport</a></li>
                <li><img src="./img/tube512.png"><a href="report.html?exam">CM-Messung</a></li>
            </ul>
        </li>
        <li class="expandable_li">
            <!-- <img src="./img/tools512.png"> -->
            <input type="radio" id="optTools" name="optDropdown">
            <label for="optTools"><img src="./img/tools512.png">Tools</label>
            <ul class="dropdown-mnu">
                <li><img src="./img/tiles512.png"><a href="tools.html?material">Materialrechner</a></li>
                <li><img src="./img/ruler512.png"><a href="tools.html?measure">Ausmass</a></li>
                <li><img src="./img/calculator512.png"><a href="calculator.html">Taschenrechner</a></li>
            </ul>
        </li>
        <li><img src="./img/settings512.png"><a href="settings.html">Einstellungen</a></li>
    </ul>
</nav>